# Xcode / Swift
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode per-user data
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane / CI
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
